apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  namespace: supply-chain
  labels:
    app: payments
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
        app.kubernetes.io/name: payments
        app.kubernetes.io/owner: platform
    spec:
      containers:
        - name: payments
          image: payments
          ports:
            - containerPort: 8083
          envFrom:
            - configMapRef:
                name: platform-env
          env:
            - name: PORT
              value: "8083"
            - name: OTEL_SERVICE_NAME
              value: payments
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8083
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8083
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
