apiVersion: v1
kind: Service
metadata:
  name: payments
  namespace: supply-chain
  labels:
    app: payments
spec:
  selector:
    app: payments
  ports:
    - name: http
      port: 8083
      targetPort: 8083
  type: ClusterIP
