apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: supply-chain
  labels:
    app: gateway
spec:
  selector:
    app: gateway
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
