apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: supply-chain
  labels:
    app: users
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
        app.kubernetes.io/name: users
        app.kubernetes.io/owner: platform
    spec:
      containers:
        - name: users
          image: users
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: platform-env
          env:
            - name: PORT
              value: "8081"
            - name: OTEL_SERVICE_NAME
              value: users
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
