apiVersion: v1
kind: Service
metadata:
  name: orders
  namespace: supply-chain
  labels:
    app: orders
spec:
  selector:
    app: orders
  ports:
    - name: http
      port: 8082
      targetPort: 8082
  type: ClusterIP
