apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: supply-chain
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    processors:
      batch:
      memory_limiter:
        check_interval: 1s
        limit_percentage: 75
    exporters:
      logging:
        loglevel: info
      prometheus:
        endpoint: 0.0.0.0:9464
      googlecloud:
        project: ${GCP_PROJECT}
      stdout:
        pretty_print: true
    service:
      telemetry:
        logs:
          level: "info"
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [logging, googlecloud]
        metrics:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [prometheus]
        logs:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [stdout, googlecloud]
