apiVersion: v1
kind: Service
metadata:
  name: inventory
  namespace: supply-chain
  labels:
    app: inventory
spec:
  selector:
    app: inventory
  ports:
    - name: http
      port: 8085
      targetPort: 8081
  type: ClusterIP
