apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/namespace.yaml
  - ../../base/gateway-deployment.yaml
  - ../../base/gateway-service.yaml
patches:
  - target:
      kind: Deployment
      name: gateway
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: gateway
      spec:
        replicas: 3
