apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: supply-chain
  labels:
    app: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
        app.kubernetes.io/name: web
        app.kubernetes.io/owner: platform
    spec:
      containers:
        - name: web
          image: web
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_API_URL
              value: http://gateway:8080
          readinessProbe:
            httpGet:
              path: /
              port: 3000
          livenessProbe:
            httpGet:
              path: /
              port: 3000
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
