apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: supply-chain
  labels:
    app: web
spec:
  selector:
    app: web
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  type: ClusterIP
